/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
}

header div{
    margin: 0 5px;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    background-color: rgb(34, 31, 31);
}
/* main */
main{
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
/* lati */
.side i{
    font-size: 40px ;
}
.side div {
    color: white;
}

#blu{
    color: blue;
}

/* pagina centrale */
#webcam {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: calc(100vh - 150px);
}

.web-img{
    position: relative;
}
.web-img img{
    width: 250px;
    height: 100px;
}
.name {
    position: absolute;
    bottom: 15px;
    left: 0px;
    padding: 5px 10px;
    background-color: rgba(75, 75, 75, 0.5);
}
/* microfono */
.fa-microphone-alt{
    position: relative;
    margin-right: 10px;
}

.fa-slash{
    color: red;
    position: absolute;
    top: 0;
    left: -4px; 
}

.talk {
    border: 2px solid green;
}
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color:rgb(41, 40, 40) ;
    color: white;

}

footer div {
    padding: 10px;
    /* debug */
    /* background-color: green; */
    /* border: 2px solid yellow; */
}

.tool-bar{
    display: flex;
    align-items: center;
}

#green {
    color: green;
}

#red{
    background-color: red;
    padding: 10px;
}

footer i {
    font-size: 30px;
    position: relative;
    margin: 0 20px;
}

.fa-angle-up{
    font-size: 10px;
    position: absolute;
}
